<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.usercenter.Mapper.UserMapper">
    <!-- 依赖 MyBatis-Plus 自动驼峰转下划线映射，无需手写 ResultMap -->
    <!-- 如需自定义 SQL，在此处补充，列名使用 t_user.user_xxx 下划线风格 -->
</mapper>
